<p-accordion-panel value="1">
  <p-accordion-header>{{ 'setup.aasInfrastructure' | translate }}</p-accordion-header>
  <p-accordion-content>
    <div class="flex flex-column gap-4 p-4">
      <p>{{ 'setup.aasInfrastructureDescription' | translate }}</p>

      <app-aas-endpoints-configuration
        [aasRepositoryUrl]="aasRepositoryUrl()"
        [aasRegistryUrl]="aasRegistryUrl()"
        [submodelRepositoryUrl]="submodelRepositoryUrl()"
        [submodelRegistryUrl]="submodelRegistryUrl()"
        [discoveryUrl]="discoveryUrl()"
        [conceptDescriptionUrl]="conceptDescriptionUrl()"
        [headerParameters]="headerParameters()"
        [certificate]="certificate()"
        [certificatePassword]="certificatePassword()"
        [securityLegend]="'setup.security' | translate"
        [showCertificate]="true"
        (aasRepositoryUrlChange)="aasRepositoryUrl.set($event)"
        (aasRegistryUrlChange)="aasRegistryUrl.set($event)"
        (submodelRepositoryUrlChange)="submodelRepositoryUrl.set($event)"
        (submodelRegistryUrlChange)="submodelRegistryUrl.set($event)"
        (discoveryUrlChange)="discoveryUrl.set($event)"
        (conceptDescriptionUrlChange)="conceptDescriptionUrl.set($event)"
        (headerParametersChange)="onHeaderParametersChange($event)"
        (certificateChange)="onCertificateChange($event)"
        (certificatePasswordChange)="onCertificatePasswordChange($event)"
      >
      </app-aas-endpoints-configuration>

      <button
        pButton
        type="button"
        [label]="'setup.saveSettings' | translate"
        (click)="saveAasUrls()"
        class="w-auto"
        icon="pi pi-save"
      ></button>
    </div>
  </p-accordion-content>
</p-accordion-panel>
