<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
  <div class="card flex flex-column mt-2 gap-2 w-full">
    <label>Kategorie</label>
    <p-dropdown
      [options]="groups"
      [(ngModel)]="selectedCategory"
      (onChange)="setCurrentGroupItems()"
      styleClass="w-full"
      >
    </p-dropdown>

    <p-dataView #dv [value]="currentGroupItems" class="w-full">
      <ng-template pTemplate="list" let-lenker>
        @for (item of lenker; track item.id) {
          <div class="grid grid-nogutter w-full">
            <app-catalog-item
              [item]="item"
              [first]="false"
              class="w-full"
              (itemDeleted)="itemDeleted($event)"
              [showDelete]="true"
            ></app-catalog-item>
          </div>
        }
      </ng-template>
    </p-dataView>
    @if (!currentGroupItems) {
      <p>
        Keine Elemente erfasst. Bitte zuerst Elemente in den Katalog importieren
      </p>
    }
  </div>
</div>
