services:
  traefik:
    image: traefik:v2.11
    container_name: traefik_demoapp
    restart: unless-stopped
    command:
      - '--api.insecure=true'
      - '--providers.docker=true'
      - '--providers.file.filename=/etc/traefik/traefik-dynamic.yaml'
      - '--entrypoints.web.address=:80'
      - '--entrypoints.websecure.address=:443'
      - '--certificatesresolvers.letsencrypt.acme.tlschallenge=true'
      - '--certificatesresolvers.letsencrypt.acme.email=sirilein@googlemail.com'
      - '--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json'
    ports:
      - '80:80'
      - '443:443'
      - '8080:8080'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
      - 'traefik-letsencrypt:/letsencrypt'
      - ./traefik-auth:/etc/traefik/traefik-auth:ro
      - ./traefik-auth/traefik-dynamic.yaml:/etc/traefik/traefik-dynamic.yaml:ro

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower_demoapp
    restart: unless-stopped
    command: --interval 600 --cleanup
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'

  ######################## APPLICATIONS ########################

  aas-demoapp:
    image: ghcr.io/meta-level-public/aasdemoapp:latest
    container_name: aas-demoapp
    restart: unless-stopped
    environment:
      - Database__DbPath=${DB_PATH:-AasDemoapp.db}
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT:-Production}
    volumes:
      - ../aasdemoapp-data:/AasDemoapp
      - ${DB_EXTERNAL_PATH:-./data/database}:/app/database
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.aas-demoapp.rule=Host(`app.aas-bike.showcasehub.de`)'
      - 'traefik.http.routers.aas-demoapp.entrypoints=web,websecure'
      - 'traefik.http.routers.aas-demoapp.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.aas-demoapp.middlewares=redirect-to-https@file'

  ######################## END APPLICATIONS ########################

  ######################## BASYX SERVICES ########################
  aas-env:
    image: eclipsebasyx/aas-environment:2.0.0-milestone-04
    container_name: aas-env
    mem_limit: 384m
    memswap_limit: 1g
    environment:
      - SERVER_PORT=8081
    volumes:
      - ./aas:/application/aas
      - ./basyx/aas-env.properties:/application/application.properties
    restart: unless-stopped
    depends_on:
      aas-registry:
        condition: service_healthy
      sm-registry:
        condition: service_healthy
      mongo:
        condition: service_healthy
      mosquitto:
        condition: service_healthy
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.aas-env.rule=Host(`aas-env.aas-bike.showcasehub.de`)'
      - 'traefik.http.routers.aas-env.entrypoints=websecure'
      - 'traefik.http.routers.aas-env.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.aas-env.middlewares=redirect-to-https@file'

  aas-registry:
    image: eclipsebasyx/aas-registry-log-mongodb:2.0.0-milestone-04
    container_name: aas-registry
    mem_limit: 384m
    memswap_limit: 1g
    environment:
      - SERVER_PORT=8080
    volumes:
      - ./basyx/aas-registry.yml:/workspace/config/application.yml
    restart: unless-stopped
    depends_on:
      mongo:
        condition: service_healthy
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.aas-registry.rule=Host(`aas-registry.aas-bike.showcasehub.de`)'
      - 'traefik.http.routers.aas-registry.entrypoints=websecure'
      - 'traefik.http.routers.aas-registry.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.aas-registry.middlewares=redirect-to-https@file'

  sm-registry:
    image: eclipsebasyx/submodel-registry-log-mongodb:2.0.0-milestone-04
    container_name: sm-registry
    mem_limit: 384m
    memswap_limit: 1g
    environment:
      - SERVER_PORT=8080
    volumes:
      - ./basyx/sm-registry.yml:/workspace/config/application.yml
    restart: unless-stopped
    depends_on:
      mongo:
        condition: service_healthy
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.sm-registry.rule=Host(`sm-registry.aas-bike.showcasehub.de`)'
      - 'traefik.http.routers.sm-registry.entrypoints=websecure'
      - 'traefik.http.routers.sm-registry.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.sm-registry.middlewares=redirect-to-https@file'

  mongo:
    image: mongo:5.0.10
    container_name: mongo
    mem_limit: 256m
    memswap_limit: 1g
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongoAdmin
      MONGO_INITDB_ROOT_PASSWORD: mongoPassword
    restart: unless-stopped
    healthcheck:
      test: mongo
      interval: 10s
      timeout: 5s
      retries: 5

  aas-discovery:
    image: eclipsebasyx/aas-discovery:2.0.0-milestone-04
    container_name: aas-discovery
    mem_limit: 256m
    memswap_limit: 1g
    environment:
      - SERVER_PORT=8081
    volumes:
      - ./basyx/aas-discovery.properties:/application/application.properties
    restart: unless-stopped
    depends_on:
      mongo:
        condition: service_healthy
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.aas-discovery.rule=Host(`aas-discovery.aas-bike.showcasehub.de`)'
      - 'traefik.http.routers.aas-discovery.entrypoints=websecure'
      - 'traefik.http.routers.aas-discovery.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.aas-discovery.middlewares=redirect-to-https@file'

  mosquitto:
    image: eclipse-mosquitto:2.0.15
    container_name: mosquitto
    mem_limit: 128m
    memswap_limit: 1g
    # ports:
    #   - '1883:1883'
    volumes:
      - ./mosquitto:/mosquitto
    restart: unless-stopped
    healthcheck:
      test:
        - CMD-SHELL
        - mosquitto_sub -p 1883 -t 'topic' -C 1 -E -i probe -W 3
      interval: 5s
      timeout: 10s
      start_period: 1s
      retries: 3

  ######################### BASYX SERVICES SUPPLIER #########################

  aas-env-suppl:
    image: eclipsebasyx/aas-environment:2.0.0-milestone-04
    container_name: aas-env-suppl
    mem_limit: 384m
    memswap_limit: 1g
    environment:
      - SERVER_PORT=8081
    volumes:
      - ./aas-suppl:/application/aas
      - ./basyx-suppl/aas-env.properties:/application/application.properties
    restart: unless-stopped
    depends_on:
      aas-registry-suppl:
        condition: service_healthy
      sm-registry-suppl:
        condition: service_healthy
      mongo-suppl:
        condition: service_healthy
      mosquitto-suppl:
        condition: service_healthy
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.aas-env-suppl.rule=Host(`aas-env-suppl.aas-bike.showcasehub.de`)'
      - 'traefik.http.routers.aas-env-suppl.entrypoints=websecure'
      - 'traefik.http.routers.aas-env-suppl.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.aas-env-suppl.middlewares=redirect-to-https@file'

  aas-registry-suppl:
    image: eclipsebasyx/aas-registry-log-mongodb:2.0.0-milestone-04
    container_name: aas-registry-suppl
    mem_limit: 384m
    memswap_limit: 1g
    environment:
      - SERVER_PORT=8080
    volumes:
      - ./basyx-suppl/aas-registry.yml:/workspace/config/application.yml
    restart: unless-stopped
    depends_on:
      mongo-suppl:
        condition: service_healthy
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.aas-registry-suppl.rule=Host(`aas-registry-suppl.aas-bike.showcasehub.de`)'
      - 'traefik.http.routers.aas-registry-suppl.entrypoints=websecure'
      - 'traefik.http.routers.aas-registry-suppl.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.aas-registry-suppl.middlewares=redirect-to-https@file'

  sm-registry-suppl:
    image: eclipsebasyx/submodel-registry-log-mongodb:2.0.0-milestone-04
    container_name: sm-registry-suppl
    mem_limit: 384m
    memswap_limit: 1g
    environment:
      - SERVER_PORT=8080
    volumes:
      - ./basyx-suppl/sm-registry.yml:/workspace/config/application.yml
    restart: unless-stopped
    depends_on:
      mongo-suppl:
        condition: service_healthy
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.sm-registry-suppl.rule=Host(`sm-registry-suppl.aas-bike.showcasehub.de`)'
      - 'traefik.http.routers.sm-registry-suppl.entrypoints=websecure'
      - 'traefik.http.routers.sm-registry-suppl.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.sm-registry-suppl.middlewares=redirect-to-https@file'

  mongo-suppl:
    image: mongo:5.0.10
    container_name: mongo-suppl
    mem_limit: 256m
    memswap_limit: 1g
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongoAdmin
      MONGO_INITDB_ROOT_PASSWORD: mongoPassword
    restart: unless-stopped
    healthcheck:
      test: mongo
      interval: 10s
      timeout: 5s
      retries: 5

  aas-discovery-suppl:
    image: eclipsebasyx/aas-discovery:2.0.0-milestone-04
    container_name: aas-discovery-suppl
    mem_limit: 256m
    memswap_limit: 1g
    environment:
      - SERVER_PORT=8081
    volumes:
      - ./basyx-suppl/aas-discovery.properties:/application/application.properties
    restart: unless-stopped
    depends_on:
      mongo:
        condition: service_healthy
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.aas-discovery-suppl.rule=Host(`aas-discovery-suppl.aas-bike.showcasehub.de`)'
      - 'traefik.http.routers.aas-discovery-suppl.entrypoints=websecure'
      - 'traefik.http.routers.aas-discovery-suppl.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.aas-discovery-suppl.middlewares=redirect-to-https@file'

  mosquitto-suppl:
    image: eclipse-mosquitto:2.0.15
    container_name: mosquitto-suppl
    mem_limit: 128m
    memswap_limit: 1g
    # ports:
    #   - '1883:1883'
    volumes:
      - ./mosquitto-suppl:/mosquitto
    restart: unless-stopped
    healthcheck:
      test:
        - CMD-SHELL
        - mosquitto_sub -p 1883 -t 'topic' -C 1 -E -i probe -W 3
      interval: 5s
      timeout: 10s
      start_period: 1s
      retries: 3

  ############################# WEB UI #############################

  aas-web-ui:
    image: eclipsebasyx/aas-gui:SNAPSHOT
    container_name: aas-ui
    environment:
      AAS_REGISTRY_PATH: https://aas-registry.aas-bike.showcasehub.de/shell-descriptors
      SUBMODEL_REGISTRY_PATH: https://sm-registry.aas-bike.showcasehub.de/submodel-descriptors
      AAS_REPO_PATH: https://aas-env.aas-bike.showcasehub.de/shells
      SUBMODEL_REPO_PATH: https://aas-env.aas-bike.showcasehub.de/submodels
      CD_REPO_PATH: https://aas-env.aas-bike.showcasehub.de/concept-descriptions
      AAS_DISCOVERY_PATH: https://aas-discovery.aas-bike.showcasehub.de/lookup/shells
      PRIMARY_COLOR: '#76B82A'
      LOGO_PATH: OI4_Signet_color_RGB.png
    restart: unless-stopped
    depends_on:
      aas-env:
        condition: service_healthy
    volumes:
      - ./logo:/usr/src/app/dist/Logo
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.aas-ui.rule=Host(`aas-ui.aas-bike.showcasehub.de`)'
      - 'traefik.http.routers.aas-ui.entrypoints=web,websecure'
      - 'traefik.http.routers.aas-ui.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.aas-ui.middlewares=redirect-to-https@file'
      - 'traefik.http.services.aas-ui.loadbalancer.server.port=3000'

  ######################### MMC Parts ##############################

  aas-runtime:
    image: twinedgeimages.azurecr.io/aas-runtime:latest
    mem_limit: 512m
    memswap_limit: 1g
    # ports:
    #   - '8080'
    restart: unless-stopped
    # extra_hosts:
    #   aas-designer-aas-env: ${AAS_ENVIRONMENT_IP}
    env_file:
      - .env
    environment:
      aas.runtime.load.aasxpath: 'file:/data/aas.aasx'
      aas.runtime.settings.path: 'file:/data/config.json'
      spring.datasource.url: 'jdbc:h2:file:/data/db'
      twinedge.externalurl: '${TWINEDGE_EXTERNAL_URL}'
      twinedge.registry.aasRegistryPath: '${AAS_REGISTRY_PATH}'
      twinedge.registry.smRegistryPath: '${SM_REGISTRY_PATH}'
      twinedge.registry.aasDiscoveryPath: '${AAS_DISCOVERY_PATH}'
      twinedge.events.mqtt.enabled: false
    depends_on:
      aas-registry:
        condition: service_healthy
      sm-registry:
        condition: service_healthy
    volumes:
      - ./data:/data
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.mmc-aas-runtime.rule=Host(`mmc-twinedge.aas-bike.showcasehub.de`) && PathPrefix(`/aas`)' # nur api wege weiterleiten
      - 'traefik.http.routers.mmc-aas-runtime.entrypoints=web,websecure'
      - 'traefik.http.routers.mmc-aas-runtime.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.mmc-aas-runtime.middlewares=redirect-to-https@file,strip-custom-aas'
      - 'traefik.http.services.mmc-aas-runtime.loadbalancer.server.port=8080'
      - 'traefik.http.middlewares.strip-custom-aas.stripprefix.prefixes=/aas'

  aas-runtime-web:
    image: twinedgeimages.azurecr.io/aas-runtime-web:latest
    mem_limit: 256m
    memswap_limit: 1g
    # ports:
    #   - '3000'
    restart: unless-stopped
    env_file:
      - .env
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.mmc-aas-runtime-web.rule=Host(`mmc-twinedge.aas-bike.showcasehub.de`) && PathPrefix(`/config`)'
      - 'traefik.http.routers.mmc-aas-runtime-web.entrypoints=web,websecure'
      - 'traefik.http.routers.mmc-aas-runtime-web.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.mmc-aas-runtime-web.middlewares=redirect-to-https@file'
      - 'traefik.http.services.mmc-aas-runtime-web.loadbalancer.server.port=3000'

  screw-simulator:
    image: twinedgeimages.azurecr.io/screwingsimulation:latest
    hostname: screw-simulator
    ports:
      #   - '7020:8080'
      - '0.0.0.0:4840:4840'
    restart: unless-stopped
    env_file:
      - .env
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.mmc-simulator.rule=Host(`mmc-simulator.aas-bike.showcasehub.de`)'
      - 'traefik.http.routers.mmc-simulator.entrypoints=web,websecure'
      - 'traefik.http.routers.mmc-simulator.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.mmc-simulator.middlewares=redirect-to-https@file'
      - 'traefik.http.services.mmc-simulator.loadbalancer.server.port=8080'

  ##################################################################

  ############################## Viewer ############################
  aas-viewer:
    container_name: aas-viewer
    image: gitea.meta-level.de/aas-suite/aas-plain-viewer:latest
    restart: always
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.viewer.rule=Host(`viewer.aas-bike.showcasehub.de`)'
      - 'traefik.http.routers.viewer.entrypoints=web,websecure'
      - 'traefik.http.routers.viewer.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.viewer.middlewares=redirect-to-https@file'
      - 'traefik.http.services.viewer.loadbalancer.server.port=80'
  ##################################################################

  ############################## Proxy ############################
  proxy:
    container_name: aas-proxy
    image: ghcr.io/meta-level-public/aasdemoproxy:latest
    restart: always
    env_file:
      - .env.proxy # ProxyConfiguration aus Umgebungsvariablen laden
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.proxy.rule=Host(`dt.aas-bike.showcasehub.de`) || Host(`dt-suppl.aas-bike.showcasehub.de`)'
      - 'traefik.http.routers.proxy.entrypoints=web,websecure'
      - 'traefik.http.routers.proxy.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.proxy.middlewares=redirect-to-https@file'
      - 'traefik.http.services.proxy.loadbalancer.server.port=8080'
  ##################################################################

  ############################## Proxy ############################
  landing:
    container_name: aas-landing
    image: ghcr.io/meta-level-public/bike-showcase-landing-page:latest
    restart: always
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.landing.rule=Host(`aas-bike.showcasehub.de`)'
      - 'traefik.http.routers.landing.entrypoints=web,websecure'
      - 'traefik.http.routers.landing.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.landing.middlewares=redirect-to-https@file'
      - 'traefik.http.services.landing.loadbalancer.server.port=80'
  ##################################################################

  ############################### MNESTIX ##########################

  mnestix-browser:
    image: mnestix/mnestix-browser:2.0.0
    restart: unless-stopped
    environment:
      DISCOVERY_API_URL: https://aas-discovery.aas-bike.showcasehub.de
      AAS_REPO_API_URL: https://aas-env.aas-bike.showcasehub.de
      SUBMODEL_REPO_API_URL: https://aas-env.aas-bike.showcasehub.de
      CONCEPT_DESCRIPTION_REPO_API_URL: https://aas-env.aas-bike.showcasehub.de
      SERIALIZATION_API_URL: https://aas-env.aas-bike.showcasehub.de
      REGISTRY_API_URL: https://aas-registry.aas-bike.showcasehub.de
      SUBMODEL_REGISTRY_API_URL: https://sm-registry.aas-bike.showcasehub.de

      AAS_LIST_FEATURE_FLAG: 'true'
      TRANSFER_FEATURE_FLAG: 'false'
      PRODUCT_VIEW_FEATURE_FLAG: 'false'
      AUTHENTICATION_FEATURE_FLAG: 'false'
      LOCK_TIMESERIES_PERIOD_FEATURE_FLAG: 'true'
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET:-verySecureNextAuthSecret}
      SECRET_ENC_KEY: ${SECRET_ENC_KEY:-J+mMxwKo+aoFJ6uxMv6Acv54buuBir2EJ3z6LGFB+Vo=} # needs to be secure, can be generated by: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
      IMPRINT_URL: ''
      DATA_PRIVACY_URL: ''
      BASYX_RBAC_ENABLED: 'false'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.mnestix.rule=Host(`mnestix.aas-bike.showcasehub.de`)'
      - 'traefik.http.routers.mnestix.entrypoints=web,websecure'
      - 'traefik.http.routers.mnestix.tls.certresolver=letsencrypt'
      - 'traefik.http.routers.mnestix.middlewares=redirect-to-https@file'
      - 'traefik.http.services.mnestix.loadbalancer.server.port=3000'
    volumes:
      - mnestix-database:/app/prisma/database

  ###################################################################
volumes:
  traefik-letsencrypt:
    driver: local
  mnestix-database:
    driver: local
