<body>
  <app-nav-menu></app-nav-menu>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</body>

<p-toast [baseZIndex]="11000" position="top-center"></p-toast>
<p-toast styleClass="vws-big-toast" position="center" key="errorDlg" (onClose)="onConfirm()" [baseZIndex]="11000">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column max-h-screen overflow-auto" style="flex: 1">
      <div class="overflow-auto">
        <div class="flex flex-row align-items-center">
          <em class="pi pi-exclamation-triangle" style="font-size: 3rem"></em>
          <div style="user-select: text" class="ml-3 text-xl">
            {{ message.summary }}
          </div>
        </div>
        <div style="user-select: text; white-space: pre-wrap">
          {{ message.detail }}
        </div>
      </div>
      <div class="col-offset-3 col-6">
        <button type="button" class="w-full" pButton (click)="onConfirm()" label="Ok"></button>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-confirmDialog
  header="CONFIRMATION"
  icon="pi pi-exclamation-triangle"
  [closable]="false"
></p-confirmDialog>
