<p-accordion-panel value="0" >
  <p-accordion-header>ERP System Konfiguration</p-accordion-header>
  <p-accordion-content>
    <div class="flex flex-column gap-4 p-4">
      <div class="flex flex-column gap-2">
        <label>ERP System wählen</label>
        <p-selectButton
          [options]="erpOptions()"
          [ngModel]="selectedErp()"
          (ngModelChange)="onErpSelectionChange($event)"
          optionLabel="label"
        >
          <ng-template let-item pTemplate>
            <div
              class="flex flex-column h-3rem justify-content-end gap-2 mt-2 align-items-center"
            >
              <img
                src="assets/logos/{{ item.logo }}"
                width="32"
                style="vertical-align: middle"
              />
              <span>{{ item.label }}</span>
            </div>
          </ng-template>
        </p-selectButton>
      </div>

      <div class="flex flex-column gap-2">
        @if (selectedErp()) {
          @if (selectedErp()?.label == 'Meta SimplestErp') {
            <div class="flex flex-column gap-2">
              Beim Eigenen ERP-System ist keine Konfiguration notwendig.
            </div>
          }
          @if (selectedErp()?.label != 'Meta SimplestErp') {
            <div class="flex flex-column gap-2">
              <label>Mapping</label>
              <p>
                Hier wird jetzt ein Mapping für Felder des ERP-Systems zu
                Feldern aus der AAS/Speziellen Teilmodellen vorgenommen.
              </p>
              <p>Beispiele:</p>
              <ul>
                <li>
                  Produktfamilie aus dem Digital Nameplate ==> Kategorie des
                  Teils
                </li>
                <li>
                  Hersteller aus Digital Nameplate ==> Hersteller des Teils
                </li>
                <li>
                  Produktbeschreibung aus dem Digital Nameplate ==>
                  Beschreibung
                </li>
                <li>
                  Produktbezeichnung aus dem Digital Nameplate ==> Bezeichnung
                </li>
                <li>Globale Asset ID ==> Eindeutige Kennung</li>
                <li>...</li>
              </ul>
            </div>
          }
          <button
            pButton
            type="button"
            label="ERP Konfiguration Speichern"
            (click)="saveSettings()"
            class="w-auto mt-2"
            icon="pi pi-save"
          ></button>
        }
      </div>
    </div>
  </p-accordion-content>
</p-accordion-panel>
